.App {
  display: flex;
  justify-content: center;
}

.main-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 10em;
  gap: 1em;
}

.elem {
  position: relative;
  cursor: pointer;
  user-select: none;
  border-radius: 13px;
  background-color: var(--contrast-color);
  padding-block: 1em;
  padding-inline: 3em;
  text-align: left;
  width: 10em;
  max-width: 10em;
}

.list-family>* {
  margin-bottom: .3em;
}

.elem > .open-click::after {
  position: absolute;
  left: 1.5em;
  font-weight: bolder;
}

.elem.minus > .open-click::after {
  content: '-';
  color: var(--link-color-minus);
}

.elem.plus > .open-click::after {
  content: '+';
  color: var(--link-color-plus);
}